{template '_header'}
<style>    
.popover{
	width:170px;        
	font-size:12px;        
	line-height: 21px;        
	color: #0d0706;    
}    
.popover span{
	color: #b9b9b9;   
}
.nickname{        
	display: inline-block;        
	max-width:200px;        
	overflow: hidden;        
	text-overflow:ellipsis;        
	white-space: nowrap;        
	vertical-align: middle;    
}
.tooltip-inner{        
	border:none;    
}
</style>

<div class="page-header">当前位置：<span class="text-primary">订单汇总列表</span></div>

<div class="page-content">    
	<div class="fixed-header">
		<div style="width:25px;"></div>        
		<div style="width: 250px;">商品名称</div>        
		<div class="flex1">品类</div>        
		<div class="flex1">总数量(单位)</div>        
		<div class="flex1">分包单位</div>        
		<div style="width:125px; text-align: center;">操作</div>    
	</div>    
	<form action="./index.php" method="get" class="form-horizontal table-search" role="form">        
		<input type="hidden" name="c" value="site"/>        
		<input type="hidden" name="a" value="entry"/>        
		<input type="hidden" name="m" value="ewei_shopv2"/>        
		<input type="hidden" name="do" value="web"/>        
		<input type="hidden" name="r" value="order.summary"/>                
		<div class="page-toolbar">
		    <span class="pull-left">
		        {php echo tpl_form_field_daterange('time',array('placeholder'=>'下单时间','starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}
			   <!--  {php echo tpl_daterange('time', array('sm'=>true, 'placeholder'=>'下单时间'),true);}     -->        
		    </span>       
	        <span class="input-group-btn">
				<button class="btn btn-primary" type="submit"> 搜 索 </button>                    
				<button type="submit" name="export" value="1" class="btn btn-success"> 导 出 </button>
				<button type="submit" name="export" value="2" class="btn btn-info"> 分 单 导 出 </button>
				<button type="button" id="sendnotice" class="btn btn-info"> 通知供货商 </button>
			</span>
		</div>
	</form>
	{if empty($data_)}        
	<div class="panel panel-default">            
	  <div class="panel-body empty-data">未查询到相关数据</div>        
	</div>    
	{else}        
	<div class="row">
		<div class="col-md-12">
			<div class="page-table-header">
				<input type="checkbox">
				<div class="btn-group">
					{ifp 'order.summary_delete'}                        
					<button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{php echo webUrl('order/delete')}">
					<i class="icow icow-shanchu1"></i> 批量删除
					</button>
					{/if}
				</div>
			</div>
			<table class="table table-responsive">
				<thead>
				<tr>
					<th style="width:25px;"></th>                        
					<th style="width: 250px;">商品名称</th>                        
					<th style="">品类</th>                        
					<th style="">总数量(单位)</th>                        
					<th style="">分包单位</th>                        
					<!-- <th style="width: 125px;text-align: center;">操作</th> -->
				</tr>                    
				</thead>                    
				<tbody>
					{loop $data_ $row}                        
					<tr>                            
						<td style="position: relative; "><input type='checkbox' value="{$row['id']}" class="checkone"/></td>
						<td style="overflow: visible">                                
							<span>{$row['goods_name']}</span>                           
						</td>                            
						<td>                                
							<span>{$row['cname']}</span>                          
						</td>   
						<td><span>{$row['_total']}</span></td>                         
						<td>
							<span><span style="color: #5097d3">{$row['fenbao']}</span></span>
						</td>
					</tr>
					{/loop}
				</tbody>
				<tfoot>
					<tr>                        
						<td><input type="checkbox"></td>                        
						<td colspan="2">                            
							<div class="btn-group">                                
							{ifp 'peisong.delete'}
								<button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{php echo webUrl('order/delete')}"><i class="icow icow-shanchu1"></i> 批量删除                                
								</button>                                
							{/if}                                                        
							</div>                        
						</td>                        
						<td colspan="2" style="text-align: right">
						{$pager}                        
						</td>                    
					</tr>                    
				</tfoot>                
			</table>            
		</div>        
	</div>   
	{/if}
</div>
<script type="text/javascript">
$('#sendnotice').click(function()
{
	var start = $("input[name='time[start]']").val();
	var end = $("input[name='time[end]']").val();
    $.post("{php echo webUrl('order/summary',array('export'=>3));}",
    	{start:start,end:end},
	function(data){
		var data = JSON.parse(data);
		tip.msgbox.suc(data.result.message);
	});
});

</script>
{template '_footer'}